body { 
    font-family: 'Courier New', Courier, monospace; 
    height: 100vh; 
    width: 100vw; 
    background: #222; 
    color: #eee;
    margin: 0;
    overflow: hidden; 
    position: relative; 
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
    color: #444;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0; 
    pointer-events: none; 
}

.movable {
    position: absolute; 
    width: fit-content; 
    height: fit-content;
    background: #333; 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none; 
}

label { 
    font-size: 14px; 
    text-transform: uppercase; 
    color: #aaa; 
    margin-bottom: 5px;
}

input {
    padding: 8px;
    font-size: 14px;
    background: #444;
    border: 2px solid #555;
    color: white;
    width: 180px;
    cursor: pointer;
}

input.active {
    border-color: #0f0;
    background-color: #000;
    box-shadow: 0 0 10px #0f0;
}

#roulette-box {
    font-size: 50px;
    font-weight: bold;
    background: #000;
    color: #0f0; 
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #444;
    border-radius: 50%;
}

button {
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border: 2px solid white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

#btn-stop { background-color: #e74c3c; color: white; }
#btn-delete { background-color: #f39c12; color: white; }